
@{
    ViewData["Title"] = "NewLoginn";
}



<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>NewLogin</title>
</head>
<body>
    
</body>
</html>