
<html>
    <head>
    <title>Dashboard</title>
    <link href="~/Accessories/Activities.css" rel="stylesheet"  type="text/css"/>
    <link href="~/Accessories/Dashboard.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
    <h2>DashBoard</h2>
    @*For Number of user Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>User(s)</h2>
        </div>
        <span id="CategoryCount" name="CategoryCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Login/ViewUser">View User(s)</a></div>
    </div>
    @*For Number of Item Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Item(s)</h2>
        </div>

        <span id="ItemCount" name="ItemCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Item/Viewitems">View Item(s)</a></div>
    </div>
    @*For Number of Customer Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>Customer(s)</h2>
        </div>

        <span id="CustomerCount" name="CustomerCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Customer/ViewCustomer">View Customer(s)</a></div>
    </div>
    @*For Number of Vendor Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>vendor(s)</h2>
        </div>

        <span id="VendorCount" name="VendorCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Vendor/ViewVendor">View Vendor(s)</a></div>
    </div>
    @*For Number of Purchase Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Purchase(s)</h2>
        </div>

        <span id="PurchaseCount" name="PuchaseCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Purchase/ViewPurchase">View Purchase(s)</a></div>
    </div>
    @*For Number of Sale Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Sale(s)</h2>
        </div>

        <span id="SaleCount" name="SaleCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Sale/ViewSale">View Sale(s)</a></div>

    </div>
    <div class="clearfix"></div>
    @*Activity of Categories*@
    <div class="row panel">
        <p style="text-align:center;font-size:30px;font-family:Calibri;font-style:italic;">
            -----Activities Performed in Last 3 Days.-----
        </p>
        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Category</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Category Added<span class="pull-right badge" id="CategoryAdded">13</span></a></li>
                    <li><a href="" title="">Last Category Added <span class="pull-right badge" id="LastCategoryAdded">Pouch</span></a></li>
                    <li><a href="" title="">Most Solded Category<span class="pull-right badge" id="MostUsedCategory">Mobile</span></a></li>

                </ul>
            </div>
        </div>
   
    @*Activity of Item*@
    
        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Items</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Items Added<span class="pull-right badge" id="ItemsAdded"></span></a></li>
                    <li><a href="" title="">Last Item Added <span class="pull-right badge" id="LastItemAdded">S6 Edge</span></a></li>
                    <li><a href="" title="">Most Solded Item<span class="pull-right badge" id="MostAddedItem">Mobile</span></a></li>

                </ul>
            </div>
        </div>
    
   
    
    @*Activity of Users*@
    
        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Users</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Total User(s) Added<span class="pull-right badge" id="UserAdded"></span></a></li>
                    <li><a href="" title="">Admin Added <span class="pull-right badge" id="AdminAdded"></span></a></li>
                    <li><a href="" title="">User(s) Added<span class="pull-right badge" id="StaffAdded"></span></a></li>

                </ul>
            </div>
        </div>
   
    @*Activity of Vendor*@
    
        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category  panel-group">
                <h3 class="side-title">Venodr</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Vendor Added<span class="pull-right badge" id="VendorAdded"></span></a></li>
                    <li><a href="" title="">Last Vendor Added <span class="pull-right badge" id="LastVendorAdded"></span></a></li>
                    <li><a href="" title="">Most Engaged Vendor<span class="pull-right badge" id="MostUsedVendor"></span></a></li>

                </ul>
            </div>
    </div>
    @*Activity of Customer*@
   
        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Customer</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Customer Added<span class="pull-right badge" id="CategoryAdded"></span></a></li>
                    <li><a href="" title="">Last Customer Added <span class="pull-right badge" id="LastCategoryAdded"></span></a></li>
                    <li><a href="" title="">Most Engaged Customer<span class="pull-right badge" id="MostUsedCategory"></span></a></li>

                </ul>
            </div>
        </div>
        @*Activity of Sale*@

        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Sale</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Sale Added<span class="pull-right badge" id="SaleAdded"></span></a></li>
                    <li><a href="" title="">Total Sale In Rupees<span class="pull-right badge" id="TotalSale"></span></a></li>
                    <li><a href="" title=""><span class="pull-right badge" id="TotalPurchase"></span></a></li>
                </ul>
            </div>
        </div>

        @*Activity of Purchase*@

        <div class="col-sm-4">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Purchase</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Purchasee Added<span class="pull-right badge" id="PurchaseAdded"></span></a></li>
                    <li><a href="" title="">Total Purchase in Rupees<span class="pull-right badge" id="TotalPurchase"></span></a></li>
                    <li><a href="" title=""><span class="pull-right badge" id="TotalPurchase"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    @*<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#firstTab">Item(s)</a></li>
        <li><a data-toggle="tab" href="#secondTab">Sale(s)</a></li>
        <li><a data-toggle="tab" href="#ThirdTab">Purchase(s)</a></li>
        <li><a data-toggle="tab" href="#FourtTab">Customer(s)</a></li>
        <li><a data-toggle="tab" href="#fifthTab">Vendor(s)</a></li>
        <li><a data-toggle="tab" href="#sixthTab">User(s)</a></li>
        <li><a data-toggle="tab" href="#seventhTab">Categories</a></li>
    </ul>
    <div class="tab-content">
        <div id="firstTab" class="tab-pane fade in active">
            <span>Item(s) Added</span><span class="badge" id="ItemAddedCount"></span>
        </div>
        <div id="secondTab" class="tab-pane fade in ">
            <span>Sale(s) Added</span><span class="badge" id="SaleAddedCount"></span>
        </div>
        <div id="ThirdTab" class="tab-pane fade in ">
            <span>Purchase(s) Added</span><span class="badge" id="PurchaseAddedCount"></span>
        </div>
        <div id="FourtTab" class="tab-pane fade in ">
            <span>Customer(s) Added</span><span class="badge" id="CustomerAddedCount"></span>
        </div>
        <div id="fifthTab" class="tab-pane fade in ">
            <span>Vendor(s) Added</span><span class="badge" id="VenderAddedCount"></span>
        </div>
        <div id="sixthTab" class="tab-pane fade in ">
            <span>User(s) Added</span><span class="badge" id="UserAddedCount"></span>
        </div>
        <div id="seventhTab" class="tab-pane fade in ">
            <span>Category Added</span><span class="badge" id="CategoryAddedCount"></span>
        </div>
    </div>*@
    <div>

    </div>
</body>

</html>  
    
    
        
@section Scripts
    {
    <script>

    $(function () {
       
        $('#CategoryCount').load('/DashBoard/UserCount');
        $('#ItemCount').load('/DashBoard/ItemCount');
        $('#CustomerCount').load('/DashBoard/CustomerCount');
        $('#VendorCount').load('/DashBoard/VendorCount');
        $('#PurchaseCount').load('/DashBoard/PurchaseCount');
        $('#SaleCount').load('/DashBoard/SaleCount');
        $('#CategoryAdded').load('/DashBoard/CategoryAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/ItemAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/SaleAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/PurchaseAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/CustomerAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/VendorAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/UserAddedCount');
        //$('#ItemAddedCount').load('/DashBoard/CategoryAddedCount');
    });
     </script>


    @*script for live chat agent*@
    <script type="text/javascript">
        function add_chatinline() { var hccid = 97226075; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline(); </script>

       }





