
<html>
    <head>
    <title>Dashboard</title>
    <link href="~/Accessories/Dashboard.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
    <h2>DashBoard</h2>
    @*For Number of user Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>User(s)</h2>
        </div>
        <span id="CategoryCount" name="CategoryCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Login/ViewUser">View User(s)</a></div>
    </div>
    @*For Number of Item Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Item(s)</h2>
        </div>

        <span id="ItemCount" name="ItemCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Item/Viewitems">View Item(s)</a></div>
    </div>
    @*For Number of Customer Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>Customer(s)</h2>
        </div>

        <span id="CustomerCount" name="CustomerCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Customer/ViewCustomer">View Customer(s)</a></div>
    </div>
    @*For Number of Vendor Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-user"></span>vendor(s)</h2>
        </div>

        <span id="VendorCount" name="VendorCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Vendor/ViewVendor">View Vendor(s)</a></div>
    </div>
    @*For Number of Purchase Count*@
    <div class="row col-md-5 panel panel-default pull-left">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Purchase(s)</h2>
        </div>

        <span id="PurchaseCount" name="PuchaseCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Purchase/ViewPurchase">View Purchase(s)</a></div>
    </div>
    @*For Number of Sale Count*@
    <div class="row col-md-5 panel panel-default pull-right">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>Sale(s)</h2>
        </div>

        <span id="SaleCount" name="SaleCount"></span>
        <div class="btn btn-info btn-xs pull-right" style="color:black;"> <a href="/Sale/ViewSale">View Sale(s)</a></div>

    </div>
    <div class="clearfix"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#firstTab">Item(s)</a></li>
        <li><a data-toggle="tab" href="#secondTab">Sale(s)</a></li>
        <li><a data-toggle="tab" href="#ThirdTab">Purchase(s)</a></li>
        <li><a data-toggle="tab" href="#FourtTab">Customer(s)</a></li>
        <li><a data-toggle="tab" href="#fifthTab">Vendor(s)</a></li>
        <li><a data-toggle="tab" href="#sixthTab">User(s)</a></li>
        <li><a data-toggle="tab" href="#seventhTab">Categories</a></li>
    </ul>
    <div class="tab-content">
        <div id="firstTab" class="tab-pane fade in active">
            <span>Item(s) Added</span><span class="badge" id="ItemAddedCount"></span>
        </div>
        <div id="secondTab" class="tab-pane fade in ">
            <span>Sale(s) Added</span><span class="badge" id="SaleAddedCount"></span>
        </div>
        <div id="ThirdTab" class="tab-pane fade in ">
            <span>Purchase(s) Added</span><span class="badge" id="PurchaseAddedCount"></span>
        </div>
        <div id="FourtTab" class="tab-pane fade in ">
            <span>Customer(s) Added</span><span class="badge" id="CustomerAddedCount"></span>
        </div>
        <div id="fifthTab" class="tab-pane fade in ">
            <span>Vendor(s) Added</span><span class="badge" id="VenderAddedCount"></span>
        </div>
        <div id="sixthTab" class="tab-pane fade in ">
            <span>User(s) Added</span><span class="badge" id="UserAddedCount"></span>
        </div>
        <div id="seventhTab" class="tab-pane fade in ">
            <span>Category Added</span><span class="badge" id="CategoryAddedCount"></span>
        </div>
    </div>
    <div>

    </div>
</body>

</html>  
    
    
        
@section Scripts
    {
    <script>

    $(function () {
       
        $('#CategoryCount').load('/DashBoard/UserCount');
        $('#ItemCount').load('/DashBoard/ItemCount');
        $('#CustomerCount').load('/DashBoard/CustomerCount');
        $('#VendorCount').load('/DashBoard/VendorCount');
        $('#PurchaseCount').load('/DashBoard/PurchaseCount');
        $('#SaleCount').load('/DashBoard/SaleCount');
        $('#SaleCount').load('/DashBoard/SaleCount');
        $('#ItemAddedCount').load('/DashBoard/ItemAddedCount');
        $('#ItemAddedCount').load('/DashBoard/SaleAddedCount');
        $('#ItemAddedCount').load('/DashBoard/PurchaseAddedCount');
        $('#ItemAddedCount').load('/DashBoard/CustomerAddedCount');
        $('#ItemAddedCount').load('/DashBoard/VendorAddedCount');
        $('#ItemAddedCount').load('/DashBoard/UserAddedCount');
        $('#ItemAddedCount').load('/DashBoard/CategoryAddedCount');
    });
     </script>


    @*script for live chat agent*@
    <script type="text/javascript">
        function add_chatinline() { var hccid = 97226075; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline(); </script>

       }





