body {
    margin: 0px;
    padding: 0px;
    background: url(Apple.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
body span
{
    font-family:Calibri;
}
body h2
{
    font-family:Calibri;
}
body a
{
    text-decoration:none;
    color:blueviolet;
}
body a:hover {
    text-decoration: none;
    color:white;
}
ul.nav.nav-tabs {
    margin: 10px 0px;
}

    ul.nav.nav-tabs li:not(.active) a {
        background-color: #e89e19;
        color: grey;
    }

    ul.nav.nav-tabs li.active a {
        border-top: 3px solid #00ff21;
    }