@model IEnumerable<DMShop.Models.Item>

@{
    ViewData["Title"] = "ViewItemsPanel";
}

<h2>ViewItemsPanel</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
   
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <span class="panel panel-default col-md-3">
                   @Html.DisplayFor(modelItem => item.Id)
               </span>
                <span class="panel panel-default col-md-3">
                </span>
                <span class="panel panel-default col-md-3">
                </span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
